*{
    margin: 0;
    padding: 0;
}
body{
background-color: rgb(46, 42, 71);
color: whitesmoke;
font-family: "Poppins", sans-serif;
}
nav{
display: flex;
justify-content: space-around;
align-items: center;
height: 75px;
background-color:  rgb(86, 82, 115);
}
nav ul{
display: flex;
justify-content: center;
}
nav ul li{
list-style: none;
margin: 0px 23px;
}
nav ul li a{
text-decoration: none;
color: white;
}
nav ul li a:hover{
color:rgb(231, 149, 245);
font-size: 1.02rem;

}
.left{
font-size: 1.5rem;
color:rgb(231, 149, 245);

}
.firstsection{
display: flex;
justify-content: space-around;
align-items: center;
margin: 83px 0;
}
.firstsection > div{

width: 30%;
}
.leftsection{

font-size: 2rem;
}
.leftsection .btn{
padding: 5px;
background-color: rgb(72, 188, 122);
color: white;
border: 2px solid white;
border-radius: 6px;
cursor: pointer;
font-size: 18px;

}
.leftsection .buttons{
padding: 30px 0;
}    

.rightsection img{
width: 80%;
margin: 50px 0;
}
.purple{
color: rgb(140, 239, 231);
}
#element{
color:rgb(140, 239, 231);

}

.secondsection{
background-color: rgb(40, 39, 55);
padding-top: 40px;
padding-bottom: 40px;
}

.secondsection h1{
font-size: 2.5rem;
font-weight: 500;
color:rgb(231, 149, 245);
font-family: "Poppins", sans-serif;
}

.thirdsection{
padding-top: 150px;

height: 60vh;

}

.thirdsection h1{
font-size: 2.5rem;
font-weight: 500;
color:rgb(231, 149, 245);
font-family: "Poppins", sans-serif;
}

footer{

background-color:rgb(40, 39, 55);
padding-top: 60px; 
}
.footer{
display: flex;
padding: 30px 122px;
justify-content: space-evenly;
}
.footer > div{
width: 223px;
}
.footer ul{
list-style: none;
}
footer .footer-rights{
text-align: center;
padding-top: 60px;
padding-bottom: 30px;
color: gray;
}

.box{
padding: 12px 22px;
margin: 12px 22px;
}

.card-img-top{
height:16rem;
width: 16rem;
}

.card{
padding: 12px 12px;
margin: 12px 22px;
border: 2px solid  rgb(72, 188, 122);
}


.card:hover{
    border: 5px solid rgb(39, 158, 91);
      transition:ease; 
      cursor: pointer;
      font-size: 1.05rem;
}

.card1{
padding: 12px 12px;
margin: 12px 22px;
border:none;
border-radius: 8px;
background-color:  rgb(86, 82, 115);
}

.card1:hover{
    background-color: rgb(77, 72, 112) ;
    cursor: pointer;
    font-size: 1.05rem;
}

.card-title{
font-size: 1.2rem;
font-weight: bold;
}

.text-center{
text-align: center;
}

.text-blue
{
color: rgb(140, 239, 231);
}

.text-blue1{
color: rgb(72, 188, 122);

}

.flex{
display: flex;
}

.justify-center
{
justify-content:center;
}